.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: green;
  .boxImg {
    position: relative;
    img {}
  }
  .box {
    position: absolute;
    top: -20px;
    left: -20px;
    height: 170px;
    width: 170px;
    -webkit-mask: conic-gradient(at 40px 40px,
        transparent 75%,
        blue 75% 100%) 0 0 / calc(100% - 40px) calc(100% - 40px);
    border: 1px red solid;
    // background: conic-gradient(at 40px 40px,
    //     transparent 75%,
    //     blue 75% 100%) 0 0 / calc(100% - 40px) calc(100% - 40px);
    
  }
}