$line-length: 14px; // 框线的长度
$gap: 6px; // 框到图片的距离
$img-width: 130px; // 图片的长度
$line-size: 3px; // 线的粗细
:export {
  lineLength: $line-length;
  gap: $gap;
  imgWidth: $img-width;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  // background-color: #5b4c3c;
  background-color: #7f8fa6;

  .gridContainer {
    display: grid;
    position: relative;
    grid-template-columns: repeat(
      3,
      $img-width
    ); /* 三列，每列宽度为 $img-width */
    grid-template-rows: repeat(3, $img-width); /* 三行，每行高度为 $img-width */
    gap: calc($gap * 3); /* 列间隔和行间隔为 20px */
    justify-content: center; /* 让九宫格水平居中 */
    align-items: center; /* 让九宫格垂直居中 */

    .boxImg {
      img {
        display: flex;
        width: $img-width;
        // height: $img-width;
      }
    }

    .box {
      --x: 0px;
      --y: 0px;
      position: absolute;
      height: calc($img-width + 2 * $gap + $line-size * 2);
      width: calc($img-width + 2 * $gap + $line-size * 2);
      top: calc($gap * -1 + var(--y) - $line-size);
      left: calc($gap * -1 + var(--x) - $line-size);
      transition: 0.3s;
      // 让元素按照某张图片的轮廓来显示
      -webkit-mask: conic-gradient(
          at $line-length $line-length,
          transparent 75%,
          blue 75% 100%
        )
        0 0 / calc(100% - $line-length) calc(100% - $line-length);
      border: $line-size white solid;
      box-sizing: border-box;
    }
  }
}
