.description {
  position: relative;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  color: black;
  letter-spacing: 1px;
  line-height: 1.5;
  border-left: 4px #307aba solid;
  box-sizing: border-box;
  p {
    padding: 10px 0;

    &:first-child {
      margin: auto;
    }
  }
}
