* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e1eaff;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.container {
  width: 784px;
  margin-top: 30px;

  .desc {
    font-size: 14px;
    line-height: 14px;
    margin-top: 12px;
    color: #9195a3;
    letter-spacing: 0;
    font-weight: 400;
  }

  .timeLineBox {
    border-radius: 12px;
    padding: 20px 16px;
    background-color: #ffffff;
    min-height: 670px;
    margin-top: 40px;
    font-size: 14px;

    .timeLine {
      width: 100%;

      &:not(:last-child) .content::before {
        position: absolute;
        left: -12.5px;
        top: 0;
        content: ' ';
        height: 100%;
        border-left: 1px #ddd dashed;
      }

      .gapLeft8 {
        margin-left: 8px;
      }

      .topWrap {
        display: flex;
        align-items: center;
        height: 16px;
        // border: 1px red solid;

        .dot {
          width: 8px;
          height: 8px;
          border: 1.5px solid #4e6ef2;
          border-radius: 50%;
          box-sizing: border-box;
        }

        .time {
          color: #9195a3;
          font-size: 12px;
        }
      }

      .content {
        position: relative;
        padding-top: 4px;
        padding-bottom: 16px;
        margin-left: 16px;

        .text {
          font-size: 14px;
          a {
            text-decoration: none;
            color: inherit;
            &:hover {
              color: #315efb;
              text-decoration: underline;
              cursor: pointer;
            }
            &:visited {
              color: #771caa;
            }

          }
        }
      }
    }

  }
}