.container {
  .example {
    .box {
      height: 100px;
      width: 100px;
      background-color: #7f8fa6;
      transition: all 1s ease;
    }
    .transform-xy-100-rotate-100deg {
      transform: translate(100px, 100px) rotate(45deg);
      transition: all 1s ease;
    }

    .divide {
      width: 100%;
      margin: 24px 0;
      border-top: 1px #ffffff solid;
      box-sizing: border-box;
    }
  }

  .olympicFiveRing {
    $r: 40px;
    $borderWidth: 6px;
    $gap: 10px;
    position: relative;
    width: calc($r * 2 * 3 + $gap * 2);
    text-align: center;
    transform-style: preserve-3d;
    .ring {
      display: inline-block;
      height: calc($r * 2);
      width: calc($r * 2);
      border-radius: 50%;
      border: $borderWidth solid black;
      margin-left: $gap;
      box-sizing: border-box;

      &:nth-child(1) {
        border-color: #307aba;
        margin-left: 0;
      }
      &:nth-child(2) {
        border-color: #020100;
        transform-origin: 15% 75%;
        transform: rotatex(3deg);
      }
      &:nth-child(3) {
        border-color: #d7322d;
        transform-origin: center 75%;
        transform: rotateX(12deg);
      }
      &:nth-child(4) {
        border-color: #f9ce40;
        margin-left: 0;
        transform-origin: center 15%;
        transform: translateY(-$r) rotatex(1deg);
      }
      &:nth-child(5) {
        border-color: #54a14e;
        transform-origin: 15% 15%;
        transform: translateY(-$r) rotateX(6deg);
      }
    }
  }
}
